<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTS Yoruba</title>
</head>
<body>
    <h1>Generador de Audio Yoruba</h1>
    <form method="POST">
        <label for="text">Introduce el texto:</label><br>
        <textarea id="text" name="text" rows="4" cols="50"></textarea><br><br>
        <button type="submit">Generar Audio</button>
    </form>
    
    {% if audio_file %}
        <h2>Resultado</h2>
        <audio controls>
            <source src="{{ url_for('serve_audio', filename=audio_file) }}" type="audio/wav">
            Tu navegador no soporta la reproducción de audio.
        </audio>
        <br>
        <a href="{{ url_for('serve_audio', filename=audio_file) }}" download>Descargar Archivo WAV</a>
    {% endif %}
</body>
</html>
